<!DOCTYPE html>

<html>

<head>
  <title>{{title}}</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="profile-pic" src="/img/chunky-apps-slack-profile.png" alt="Profile Pic" />
  </div>
  {{>footer}}
</body>

</html>