<!DOCTYPE html>

<html>

<head>
  <title>{{title}}</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Type in your City to get customized weather for your location.</p>

    <form action="">
      <input type="text" placeholder="Location">
      <button type="submit">Search</button>
    </form>

    <div class="results">
      <img src="/img/chunky-apps-slack-profile.png" alt="Weather Icon" id="weatherIcon">
      <div>
        <p id="message-1"></p>
        <p id="message-2"></p>
      </div>
    </div>

  </div>
  {{>footer}}

  <script src="/js/app.js"></script>
</body>

</html>