body {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 16px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.main-content {
	flex-grow: 1;
}
header {
	margin-top: 16px;
	margin-bottom: 60px;
}
h1 {
	font-size: 64px;
	margin-bottom: 16px;
}
p {
	line-height: 1.6em;
	margin: 8px 0;
}
header a {
	color: #888888;
	margin-right: 16px;
	text-decoration: none;
}
footer {
	color: #888888;
	border-top: 1px solid #eeeeee;
	margin-top: 16px;
	padding: 16px 0;
}
img.profile-pic {
	width: 200px;
	margin-top: 18px;
}
form {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 24px;
	margin-bottom: 48px;
}
input {
	padding: 12px;
	border: 1px solid #333333;
	border-radius: 4px 0 0 4px;
	width: 300px;
	margin-right: 0;
	outline: none;
}
button {
	cursor: pointer;
	padding: 12px;
	border: 1px solid #333333;
	border-radius: 0 4px 4px 0;
	width: 110px;
	margin-left: 0;
	border-left: none;
	outline: none;
	background: #333333;
	color: #eeeeee;
}
button:hover {
	background: #555555;
}
.results {
	display: flex;
	flex-flow: row nowrap;
}
.results > img {
	width: 85px;
	height: 85px;
	margin-right: 12px;
	border-radius: 50px;
	border: 3px solid #333333;
	box-sizing: border-box;
}
#message-1 {
	font-weight: bold;
	font-size: 18px;
}
